CompileFlags:
  Add: 
    # For server/ directory
    - -I../databento-cpp/include
    - -I../databento-cpp/build/include
    - -I../databento-cpp/build/_deps/date_src-src/include
    - -I../databento-cpp/build/_deps/httplib-src
    - -I../databento-cpp/build/_deps/json-src/include
    # For microservices/ directory
    - -Idatabento-cpp/include
    - -Idatabento-cpp/build/include
    - -Idatabento-cpp/build/_deps/date_src-src/include
    - -Idatabento-cpp/build/_deps/httplib-src
    - -Idatabento-cpp/build/_deps/json-src/include
    # For microservices includes
    - -Iinclude
    - -Isrc
    - -std=c++17
    - -Wall
    - -Wextra
    - -Wno-unused-parameter
    - -Wno-missing-field-initializers
  CompilationDatabase: build

# Suppress false positives for Docker-built dependencies
Diagnostics:
  Suppress:
    - '-Weverything'
